<nav class="navbar navbar-expand-sm navbar-dark"
    role="navegation"
    style="background-color: #336699;">
    <a class="navbar-brand" href="{% url 'homepage' %}">Facturas</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto justify-content-end">
    </ul>


  </div>
  
</nav>
